<body>

<!-- Header -->
<div id="header">
    <div class="color-line">
    </div>

    <nav role="navigation">

        <div class="navbar-left">
            <ul class="nav navbar-nav no-borders">
                <li class="dropdown">
                    <h4 style="padding: 8px 10px 18px 18px;">
                        <i class="pe-7s-graph1"> </i>Picture</h4>
                </li>
                <li class="dropdown">
                    <h4 style="padding: 8px 10px 18px 18px;">
                        <i class="pe-7s-graph3"> </i>Funny Thing</h4>
                </li>
                <li>
                    <h4 style="padding: 8px 10px 18px 18px;">
                        <i class="pe-7s-server"> </i>Others</h4>
                </li>
                <li>
                    <h4 style="padding: 8px 10px 18px 18px;">
                        <i class="pe-7s-gleam"> </i>肥亮艳照</h4>
                </li>
            </ul>
        </div>

        <form role="search" class="navbar-form-custom" method="get" action="/goettingen/q">
            <div class="form-group">
                <input type="text" placeholder="" class="form-control" name="search">
            </div>
        </form>
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                <li class="dropdown">
                    <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <i class="pe pe-7s-home"></i>
                                    <h5>Test</h5>
                                </td>
                                <td>
                                    <i class="pe pe-7s-upload pe-rotate-90"></i>
                                    <h5>Quit</h5>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>