{% extends 'base.html' %}
{% block content %}
        <!-- Main Wrapper -->
<div id="wrapper">
    <div class="content">
        <div class="row">
            <div class="text-center">
                <button id="next_view" class="btn btn-success btn-sm">下一批</button>
            </div>
            <section id="gallery">
                <div class="container-fluid">
                    <div class="row">
                        {% for item in pic_name %}
                            <a href="{{ item.picUrl }}" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="{{ item.title }}">
                            <img src="{{ item.picUrl }}" alt="Image 1" class="img-fluid sigmapad col-lg-4 col-md-6 col-sm-6"></a>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    $("#next_view").click(function(){
        var url = "http://localhost:8000/picview";
        console.log(url);
        $.get(url,function(data){
            console.log(data);
            var addelement = document.getElementById("next_view");
            addelement.options.length = 0;
            $.each(data,function(i,item){
                if(item == null){
                    return ;
                }
                console.log(item);
                addelement.options.add(new Option(item,item));
            });
        });
    })
</script>

{% endblock %}

{% include 'footer.html' %}
{% include 'foot.html' %}
