{% extends 'base.html' %}
{% block content %}
        <!-- Main Wrapper -->
<div id="wrapper">
    <div class="content">
        <div class="row">
            <div class="text-center">
                <button id="next_view" class="btn btn-success btn-sm">下一批</button>
            </div>
{#            {% if pic_name %}the piture is#}
{#                <img src="{{ pic_name }}">#}
{#            {% endif %}#}
{#            {{ pic_name }}#}
            {% for item in pic_name %}
                <img src={{ item.picUrl }}>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $("#next_view").click(function(){
        var url = "localhost:8000/picview";
        console.log(url);
        $.get(url,function(data){
            console.log(data);
            var addelement = document.getElementById("next_view");
            addelement.options.length = 0;
            $.each(data,function(i,item){
                if(item == null){
                    return ;
                }
                console.log(item);
                addelement.options.add(new Option(item,item));
            });
        });
    })
</script>

{% endblock %}


{% include 'foot.html' %}
