<!-- Vendor scripts -->
<script src="static/bower/jquery/dist/jquery.min.js"></script>
<script src="static/bower/jquery-ui/jquery-ui.min.js"></script>
<script src="static/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="static/bower/metisMenu/dist/metisMenu.js"></script>
<script src="static/bower/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
<script src="static/bower/footable/dist/footable.all.min.js"></script>
<script src="static/bower/datatables/media/js/jquery.dataTables.js"></script>
<script src="static/bower/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="static/bower/sweetalert/dist/sweetalert.min.js"></script>
<script src="static/bower/iCheck/icheck.min.js"></script>
<script src="static/bower/iGrowl/dist/js/igrowl.min.js"></script>
<script src="static/bower/blockUI/jquery.blockUI.js"></script>
<script src="static/bower/ansi_up/ansi_up.js "></script>
<script src="static/bower/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
<!-- App scripts -->
<script src="static/js/homer.js"></script>
<script src="static/bower/Chart.js/Chart.min.js"></script>
<script src="static/bower/highcharts/highcharts.js"></script>

<script src="static/js/ekko-lightbox.min.js"></script>
<script src="static/js/jquery.singlePageNav.min.js"></script>

<script>
    // Prevent console.log from generating errors in IE for the purposes of the demo
    if ( ! window.console ) console = { log: function(){} };

    // The actual plugin
    $('.single-page-nav').singlePageNav({
        offset: $('.single-page-nav').outerHeight(),
        filter: ':not(.external)',
        updateHash: true,
        beforeStart: function() {
            console.log('begin scrolling');
        },
        onComplete: function() {
            console.log('done scrolling');
        }
    });

    $(document).ready(function ($) {
        // delegate calls to data-toggle="lightbox"
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            return $(this).ekkoLightbox({
                always_show_close: true
            });
        });

    });
</script>